<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste Compte</title>
</head>
<style>
    table, p, h1, li {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>
<h1>Liste des utilisateur :</h1>
<table class="table">
    <thead>
    <tr>
        <th>Client</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="entry : ${data}">
        <td> <a href="lister/AngelVigliengo" data-th-text="${entry.key}+' '+${entry.value}"/> </td>
    </tr>
    </tbody>
</table>
</body>
</html>